.topbackground {
  display: flex;
  background-color: #52b788;
  height: 110px;
}

.topgreen {
  background-color: #40916c;
  height: 30px;
  width: 100vw;
}

p1 {
  margin-top: 20px;
}

.seiten {
  display: flex;
}

li {
  list-style: none;
  margin: 10px;
}
.tabelle li {
  background-color: rgb(198, 223, 198);
  padding: 15px;
  margin-bottom: 2px;
  flex-direction: column;
}
