.topbackground {
    display: flex;
    background-color: #52B788;
    height: 110px;
}

.topgreen {
    background-color: #40916C;
    height: 30px;
    width: 100vw;
}

p1 {
    margin-top: 20px;
}

.seiten {
    display: flex;
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    display: flex;
    list-style: none;
    margin: 10px;
    flex-direction: row;
}