.heading {
  display: flex;
}
ul {
  display: inline;
  list-style: none;
}

li {
  background-color: teal;
  color: white;
  justify-content: space-around;

  margin: 1px;
  width: 150px;
  height: 50px;
}

li:hover {
  cursor: pointer;
  background-color: rgb(5, 75, 75);
}
