* {
    font-family: 'Roboto', sans-serif;
}

.header {
    padding: 25px;
    display: flex;
    justify-content: center;
}

button {
    padding: 20px;
    margin: 10px;
    border-style: none;
    background-color: orange;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: brown;
}

.content {
    padding: 15px;
}

.content li {
    background-color: brown;
    padding: 15px;
    margin-bottom: 2px;
    color: white;
}

.content li:hover {
    cursor: pointer;
    background-color: rgb(80, 17, 17);
}